Source: reprof
Section: science
Priority: extra
Maintainer: Debian Med Packaging Team <debian-med-packaging@lists.alioth.debian.org>
Uploaders: Peter Hoenigschmid <hoenigschmid@rostlab.org>, Laszlo Kajan <lkajan@rostlab.org>
Build-Depends: debhelper (>= 7.0.50~), autotools-dev
Standards-Version: 3.9.2
Vcs-Svn: svn://svn.debian.org/debian-med/trunk/packages/rostlab/reprof/trunk/
Vcs-Browser: http://svn.debian.org/wsvn/debian-med/trunk/packages/rostlab/reprof/trunk/
DM-Upload-Allowed: yes
Homepage: http://rostlab.org/

Package: reprof
Architecture: all
Depends: ${perl:Depends}, ${misc:Depends}
Description: protein secondary structure and accessibility predictor
 'reprof' is an improved implementation of 'prof', a popular protein secondary
 structure and accessibility predictor.
