Source: reprof
Section: science
Priority: extra
Maintainer: Debian Med Packaging Team <debian-med-packaging@lists.alioth.debian.org>
Uploaders: Peter Hoenigschmid <hoenigschmid@rostlab.org>, Laszlo Kajan <lkajan@rostlab.org>
Build-Depends: debhelper (>= 7.0.50~), autotools-dev
Standards-Version: 3.9.2
Vcs-Svn: svn://svn.debian.org/debian-med/trunk/packages/rostlab/reprof/trunk/
Vcs-Browser: http://svn.debian.org/wsvn/debian-med/trunk/packages/rostlab/reprof/trunk/
DM-Upload-Allowed: yes
Homepage: http://rostlab.org/

Package: reprof
Architecture: all
Depends: ${perl:Depends}, ${misc:Depends}, librg-reprof-bundle-perl
Recommends: pp-popularity-contest
Description: protein secondary structure and accessibility predictor
 'reprof' is an improved implementation of 'prof', a popular protein secondary
 structure and accessibility predictor.
 .
 This package provides the 'reprof' command.  It is only a command line
 interface to the functionality provided by the modules in
 librg-reprof-bundle-perl.

Package: librg-reprof-bundle-perl
Section: perl
Architecture: all
Depends: ${perl:Depends}, ${misc:Depends}, libai-fann-perl
Description: protein secondary structure and accessibility predictor
 'reprof' is an improved implementation of 'prof', a popular protein secondary
 structure and accessibility predictor.
 .
 This package provides the perl modules implementing 'reprof' along with the
 necessary data files.
